.not-found-container {
    margin-top: 5rem;
    text-align: center;
    padding: 50px;
  }
  
  .not-found-image {
    width: 300px;
    margin-bottom: 20px;
  }
  
  h1 {
    font-size: 80px;
    font-weight: bold;
    color: var(--davys-gray);
  }
  
  h2 {
    font-size: 24px;
    color: var(--davys-gray);
    margin-bottom: 10px;
  }
  
  p {
    font-size: 16px;
    color: #666;
  }
  
  .not-found-button {
    background-color: #5D4A69;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
    margin-top: 5px;
  }
  
  .not-found-button:hover {
    background-color: #4a2e5a;
  }
  